/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*ESTILO DEL HTML INDEX*/
body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  /*estilos del header*/ }
  body .fondoUno {
    background-color: #198754; }
  body header {
    background-color: black;
    font-family: 'Josefin Sans', sans-serif; }
    body header nav ul {
      padding: 1rem;
      gap: 1rem; }
      body header nav ul li {
        list-style: none;
        font-size: 1rem;
        padding: 0.5rem; }
    body header .enlaces {
      text-decoration: none;
      color: #eeeeee; }
    body header h1 {
      padding: 1rem; }
      body header h1 span {
        color: #49ff29; }
  body .subTituloIndex {
    padding: 1rem; }
  body .subTitulo {
    margin: 2rem;
    color: #eeeeee; }
  body .carousel-inner {
    padding: 1rem; }
  body .mainInicio {
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "top1 top2"
 "top3 top4"
 "top5 top6"
 "top7 top8"
 "top9 top10"; }
    body .mainInicio .tops1 {
      grid-area: top1;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops2 {
      grid-area: top2;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops3 {
      grid-area: top3;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops4 {
      grid-area: top4;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops5 {
      grid-area: top5;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops6 {
      grid-area: top6;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops7 {
      grid-area: top7;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops8 {
      grid-area: top8;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops9 {
      grid-area: top9;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
    body .mainInicio .tops10 {
      grid-area: top10;
      background-color: rgba(73, 69, 69, 0.85);
      padding: 0.50rem;
      margin: 0.50rem;
      border-radius: 0.10rem;
      color: white;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 4px 0.5px #33de1d; }
  body footer {
    background-color: rgba(73, 69, 69, 0.85);
    color: white;
    padding: 0.50rem; }

/* ESTILO DEL HTML COMPRA/VENTA*/
/*estilo de el main conteniendo las compras y ventas*/
.subTitulo2 {
  margin: 1rem;
  color: white; }

/*GRID*/
.mainCompraVenta {
  margin: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "compraVenta1 compraVenta2"
 "compraVenta3 compraVenta4"
 "compraVenta5 compraVenta6"
 "compraVenta7 compraVenta8"
 "compraVenta9 compraVenta10"
 "compraVenta11 compraVenta12"
 "compraVenta13 compraVenta14"
 "compraVenta15 compraVenta16"; }
  .mainCompraVenta .compraVenta1 {
    grid-area: compraVenta1;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta1 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta1 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta1 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta2 {
    grid-area: compraVenta2;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta2 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta2 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta2 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta3 {
    grid-area: compraVenta3;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta3 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta3 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta3 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta4 {
    grid-area: compraVenta4;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta4 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta4 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta4 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta5 {
    grid-area: compraVenta5;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta5 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta5 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta5 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta6 {
    grid-area: compraVenta6;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta6 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta6 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta6 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta7 {
    grid-area: compraVenta7;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta7 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta7 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta7 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta8 {
    grid-area: compraVenta8;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta8 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta8 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta8 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta9 {
    grid-area: compraVenta9;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta9 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta9 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta9 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta10 {
    grid-area: compraVenta10;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta10 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta10 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta10 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta11 {
    grid-area: compraVenta11;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta11 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta11 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta11 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta12 {
    grid-area: compraVenta12;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta12 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta12 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta12 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta13 {
    grid-area: compraVenta13;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta13 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta13 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta13 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta14 {
    grid-area: compraVenta14;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
    .mainCompraVenta .compraVenta14 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta14 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta14 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta15 {
    grid-area: compraVenta15;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: blanchedalmond; }
    .mainCompraVenta .compraVenta15 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta15 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta15 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
  .mainCompraVenta .compraVenta16 {
    grid-area: compraVenta16;
    background-color: rgba(73, 69, 69, 0.85);
    display: inline-block;
    text-align: center;
    padding: 0.50rem;
    margin: 0.50rem;
    gap: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: blanchedalmond; }
    .mainCompraVenta .compraVenta16 .botonCompraVenta {
      display: flex;
      gap: 1rem;
      justify-content: center; }
      .mainCompraVenta .compraVenta16 .botonCompraVenta .botonC {
        background-color: #2dd02d;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }
      .mainCompraVenta .compraVenta16 .botonCompraVenta .botonV {
        background-color: #d32424;
        border: none;
        padding: 0.50rem;
        border-radius: 0.10rem; }

/* ESTILO DEL HTML NOTICIAS*/
.noticias {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "estiloNoticias1"
 "estiloNoticias2"
 "estiloNoticias3";
  /*ESTILO DEL HTML APRENDER*/ }
  .noticias .estiloNoticias1 {
    grid-area: estiloNoticias1;
    background-color: rgba(73, 69, 69, 0.85);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
  .noticias .estiloNoticias2 {
    grid-area: estiloNoticias2;
    background-color: rgba(73, 69, 69, 0.85);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
  .noticias .estiloNoticias3 {
    grid-area: estiloNoticias3;
    background-color: rgba(73, 69, 69, 0.85);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.10rem;
    box-shadow: 1px 1px 4px 0.5px #33de1d;
    color: white; }
  .noticias .mainAprender {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "estiloAprender1"
 "estiloAprender2"
 "estiloAprender3"
 "estiloAprender4"; }

.estiloAprender1 {
  grid-area: estiloAprender1;
  background-color: rgba(73, 69, 69, 0.85);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.10rem;
  box-shadow: 1px 1px 4px 0.5px #33de1d;
  color: white; }

.estiloAprender2 {
  grid-area: estiloAprender2;
  background-color: rgba(73, 69, 69, 0.85);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.10rem;
  box-shadow: 1px 1px 4px 0.5px #33de1d;
  color: white; }

.estiloAprender3 {
  grid-area: estiloAprender3;
  background-color: rgba(73, 69, 69, 0.85);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.10rem;
  box-shadow: 1px 1px 4px 0.5px #33de1d;
  color: white; }

.estiloAprender4 {
  grid-area: estiloAprender4;
  background-color: rgba(73, 69, 69, 0.85);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.10rem;
  box-shadow: 1px 1px 4px 0.5px #33de1d;
  color: white; }

/*ESTILO DEL HTML REGISTRO*/
main form fieldset {
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  color: white; }
  main form fieldset main form fieldset div {
    margin: 1rem; }

/*ESTILO DEL FOOTER*/
.redes {
  padding: 2rem;
  text-align: end; }
  .redes .imgRedes {
    height: 2rem;
    margin: 1rem; }

@media screen and (min-width: 576px) {
  /*MEDIA-QUERIES INDEX*/
  header nav ul {
    display: flex;
    justify-content: space-around; }
  body .mainInicio {
    grid-template-areas: "top1 top2  top3"
 "top4 top5 top6"
 "top7 top8 top9"
 "top10 top top"; }
  /*MEDIA-QUERIES COMPRA/VENTA*/
  .mainCompraVenta {
    grid-template-areas: "compraVenta1 compraVenta2 compraVenta3"
 "compraVenta4 compraVenta5 compraVenta6"
 "compraVenta7 compraVenta8 compraVenta9"
 "compraVenta10 compraVenta11 compraVenta12"
 "compraVenta13 compraVenta14 compraVenta15"
 "compraVenta16 compraVenta compraVenta"; } }

@media screen and (min-width: 1024px) {
  body .mainInicio {
    grid-template-areas: "top1 top2  top3 top4"
 "top5 top6 top7 top8"
 "top9 top10 top top"; }
  /*MEDIA-QUERIES COMPRA/VENTA*/
  .mainCompraVenta {
    grid-template-areas: "compraVenta1 compraVenta2 compraVenta3 compraVenta4 "
 "compraVenta5 compraVenta6 compraVenta7 compraVenta8"
 "compraVenta9 compraVenta10 compraVenta11 compraVenta12"
 "compraVenta13 compraVenta14 compraVenta15 compraVenta16"; }
  li:hover {
    transform: scale(0.9);
    transition: 0.50s;
    color: #33de1d;
    border-bottom: 0.20rem solid; }
  .tops1:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops2:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops3:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops4:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops5:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops6:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops7:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops8:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops9:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .tops10:hover {
    transform: scale(1.05);
    transition: 0.50s; }
  .botonC:hover {
    transform: scale(1.01);
    transition: 0.50s;
    border: 0.1rem solid #2dd02d; }
  .botonV:hover {
    transform: scale(1.01);
    transition: 0.50s;
    border: 0.1rem solid #d32424; } }
